DOCKERHUB_USER=amiticvega
IMAGE_TAG=0.1.0

COMPOSE_PROJECT_NAME=practice

POSTGRES_DB=practicedb
POSTGRES_USER=appuser
POSTGRES_PASSWORD=super-secret-change-me
POSTGRES_PORT=5432

APP_DB_USER=app_rw
APP_DB_PASSWORD=change-me-too


BACKEND_PORT=3000
NODE_ENV=production
LOG_LEVEL=info

DB_CONNECT_MAX_RETRIES=10
DB_CONNECT_RETRY_DELAY_MS=1000


FRONTEND_API_BASE_URL=/api
FRONTEND_APP_TITLE=Docker Practice Shop

NGINX_HOST_PORT=8080
